# Normalize text files consistently across operating systems.
* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.gif binary
*.gz binary
*.ico binary
*.jpeg binary
*.jpg binary
*.mp3 binary
*.mp4 binary
*.pdf binary
*.png binary
*.ttf binary
*.wasm binary
*.webm binary
*.webp binary
*.woff binary
*.woff2 binary
*.zip binary
